<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bhh</title>
    <link rel="stylesheet" href="../assets/css/main.css">
</head>
<body class="light flex all-center">
    <main class="standart-layout flex flex-col">
        <header class="flex flex-row w-4 gap-1 center-horizontal">
            <picture>
               <img src="https://images.saymedia-content.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cq_auto:eco%2Cw_1200/MTk2NjUwMjQ5NTkzMzAwNzk4/astounding-ways-how-mathematics-is-a-part-of-nature-.png" alt="Glider (Conway's Game of Life)">
            </picture>
            <div class="flex flex-col  justify-center gap-1">
                <div>
                        <h1>Barat Halaç</h1>
                    <div class="flex all-center gap-1 mt-1">
                        <small>Software Alchemist</small>
                        <small>•</small>
                        <small><a style="font-size: 10px;" class="link" href="about.html">about me</a></small>
                    </div>
                </div>
                <ul class="flex flex-col">
                    <li><a class="link base-text" href="" target="_blank">twitter</a></li>
                    <li><a class="link" href="" target="_blank">github</a></li>
                    <li><a class="link" href="mailto:example@mail.com">@mailme</a></li>
                </ul>
            </div>
        </header>
        <main class="w-10 flex flex-col items-center mt-1 h-10 relative">
            <div class="flex w-4 all-center">
                <div style="height: 1px;" class="divide w-10"></div>
                <h1 class="block w-10 text-center">Latest Posts</h1>
                <div style="height: 1px;"class="divide w-10"></div>
            </div>
            <article style="background-color: bisque; " class="w-4 h-2 p-1 flex flex-col relative mt-1">
                <header>
                    <h1 class="">Post Header</h1>
                    <small>posted on : 26.01.2024</small>
                </header>
                <p class="base-text">
                    about post
                </p>
                <footer >
                    <a class="link absolute r-10 b-10 post-link" href="post.html">See details > </a>
                </footer>
            </article>

            <article style="background-color: bisque; " class="w-4 h-2 p-1 flex flex-col relative mt-1">
                <header>
                    <h1 class="">Post Header</h1>
                    <small>posted on : 26.01.2024</small>
                </header>
                <p class="base-text">
                    about post
                </p>
                <footer  >
                    <a class="link absolute r-10 b-10 post-link" href="post.html">See details > </a>
                </footer>
            </article>

            <article style="background-color: bisque; " class="w-4 h-2 p-1 flex flex-col relative mt-1">
                <header>
                    <h1 class="">Post Header</h1>
                    <small>posted on : 26.01.2024</small>
                </header>
                <p class="base-text">
                    about post
                </p>
                <footer >
                    <a class="link absolute r-10 b-10 post-link" href="post.html">See details > </a>
                </footer>
            </article>

            <article style="background-color: bisque; " class="w-4 h-2 p-1 flex flex-col relative mt-1">
                <header>
                    <h1 class="">Post Header</h1>
                    <small>posted on : 26.01.2024</small>
                </header>
                <p class="base-text">
                    about post
                </p>
                <footer  >
                    <a class="link absolute r-10 b-10 post-link" href="post.html">See details > </a>
                </footer>
            </article>

            <footer class="flex w-10 h-1 all-center">
                <a class="link absolute b-10" href="allposts.html">See all posts</a>
            </footer>
        </main>
        
    </main>
</body>
</html>
